@model PagedList.IPagedList<Recruitment.Models.CandidateCallDTO>
@using PagedList.Mvc;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "Call";
}

<h2>List Called Candidate</h2>

<ul class="nav nav-tabs">
    <li><a href="~/call">List Candidate</a></li>
    <li class="active"><a data-toggle="tab" href="#tabcalled">List Called Candidate</a></li>
</ul>

<div class="tab-content">
    <div id="tabcall" class="tab-pane fade">
        LOREM IPSUM
    </div>
    <div id="tabcalled" class="tab-pane fade in active">
        <div class="row">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-3">
                @using (Html.BeginForm()) {
                    <p>
                        Search: @Html.TextBox("searchString", "", new { @class = "form-control input-sm" })
                        Filter By: @Html.DropDownList("filterPosition", (List<SelectListItem>)TempData.Peek("filterPositions"), new { @class = "form-control input-sm" })
                        <input type="submit" value="Search" class="btn btn-primary input-sm" />
                    </p>
                }
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Applied Position
                </th>
                <th>
                    Source
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Pra Selection PIC
                </th>
                <th>
                    State
                </th>
                <th>
                    Pra Selection Notes
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreSelectPIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary glyphicon glyphicon-triangle-right input-sm"></button>
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    </div>


</div>
